<h5>
    Работа с классами и стилями
</h5>

<div>
    <a href="https://vueframework.com/docs/v3/ru/ru/guide/class-and-style.html#%D0%BE%D0%B1%D1%8A%D0%B5%D0%BA%D1%82%D0%BD%D1%8B%D0%B8-%D1%81%D0%B8%D0%BD%D1%82%D0%B0%D0%BA%D1%81%D0%B8%D1%81"
        target="_blank">
        link..
    </a>
</div>
<div id='vueClass'>
    <h6>назначение классов</h6>
    <div class="static" :class="{ active: isActive, 'text-danger': hasError }">vue class</div>
</div>
<div id='toObject'>
    <h6>Используемый объект необязательно указывать прямо в шаблоне</h6>
    <div :class="classObject"> class object</div>
</div>

<div id="classObj">
    <div :class="classObjectСomp">
        Можно также использовать и вычисляемые свойства
    </div>
</div>

<div id=ClassArray>
    <div :class="[activeClass, errorClass]">В :class можно передавать и массив</div>

    <div :class="[isActive ? activeClass : '', errorClass]">1</div>
    @* или *@
    <div :class="[{ active: isActive }, errorClass]">2</div>
</div>


<div id="objSint">
    <div :style="{ color: activeColor, fontSize: fontSize + 'px' }">Объектный синтаксис</div>
    <div :style="styleObject">или так</div>
</div>

@section Scripts{
<script>
    const vm = Vue.createApp({
        data() {
            return {
                isActive: true,
                hasError: false
            }
        }
    });
    vm.mount("#vueClass")

    const vmObj = Vue.createApp({
        data() {
            return {
                classObject: {
                    active: true,
                    'text-danger': false
                }
            }
        }
    });

    vmObj.mount("#toObject");


    @* через вычисляемые св-ва *@
    const vmO = Vue.createApp({
        data() {
            return {
                isActive: true,
                error: null
            }
        },
        computed: {
            classObjectСomp() {
                return {
                    active: this.isActive && !this.error,
                    'text-danger': this.error && this.error.type === 'fatal'
                }
            }
        }

    });
    vmO.mount("#classObj");

    const vueArray = Vue.createApp({
        data() {
            return {
                activeClass: 'active',
                errorClass: 'text-danger',
                isActive: true
            }
        }
    })
    vueArray.mount("#ClassArray");


    const vueObjSint = Vue.createApp({

        data() {
            return {
                activeColor: 'red',
                fontSize: 30,
                styleObject: {
                    color: 'red',
                    fontSize: '13px'
                }
            }
        }
    }
    ).mount("#objSint");
</script>
}